@import '../../scss/variables';
@import '../../scss/mixins';


.product-page-container {
  margin-top: 100px;
  min-height: calc(80vh - 90px);
  height: fit-content;
}

.gallery-thumbnails{
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  grid-column: 1;
  min-width: 30px;
}

.gallery-container{
  display:flex;
  justify-content: center;
  align-content: center;
  grid-column: 2;
  min-width: 500px;
}

.product-page-wrapper {
  display: grid;
  grid-template-columns: 10% 60% 30%;
  justify-content: center;
}

.product-actions-wrapper {
  margin-right: 130px;
  grid-column: 3
}

.name-wrapper {
  font-family: Raleway;
  margin-bottom: 45px;
  font-size: 30px;
  color: $primary-color;

  &__brand {
    font-variation-settings: 'wght' 700;
  }

  &__item {
    margin-top: 5px;
    font-variation-settings: 'wght' 400;
  }
}

.size-wrapper {
  margin-bottom: 40px;
  color: $primary-color;

  &__title {
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 18px;
    font-variation-settings: 'wght' 700;
  }

  &__blocks-wrapper {
    display: flex;
    margin-top: 9px;
    width: 100%;
    justify-content: space-between;
  }
}

.price-wrapper {
  margin-top: 20px;

  &__title {
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 18px;
    font-variation-settings: 'wght' 700;
  }

  &__price {
    font-family: Raleway;
    font-size: 24px;
    margin-top: 10px;
    font-variation-settings: 'wght' 700;
  }
}

.add-to-cart-wrapper {
  margin-top: 20px;
}

.desription-wrapper {
  margin-top: 40px;
}

@media all and (min-width: 1921px) {
  .product-page-container {
    margin: $default-margin $monitor2560 0 $monitor2560;
  }
}

@media all and (min-width: 1681px) and (max-width: 1920px) {
  .product-page-container {
    margin: $default-margin $monitor1920 0 $monitor1920;
  }
}

@media all and (min-width: 1280px) and (max-width: 1680px) {
  .product-page-container {
    margin: $default-margin $monitor1680 0 $monitor1680;
  }
  .product-actions-wrapper{
    margin-right: 0px;
  }
}

@media all and (min-width: 991px) and (max-width: 1279px) {
  .product-page-container {
    margin: $default-margin $monitor1680 0 $monitor1680;
  }
  .product-actions-wrapper{
    margin-right: 0px;
  }
}



@media all and (max-width: 990px) {
  .product-page-container{
    margin: 70px;
  }
  .product-page-wrapper{
    grid-template-rows: 50% 10% 50%;
  }
  .product-actions-wrapper{
    grid-column: 1 / span 3;
    margin: 10px;
  }
  .gallery-container{
    grid-column: 1 / span 4;
  }
  .gallery-thumbnails{
    grid-row: 2;
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .name-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .add-to-cart-wrapper{
  
  }
  .size-wrapper__blocks-wrapper{
 
  }
  .size-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-active-actions-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-active-actions-scale{
    @include mobile;

  }
}