@import '../../scss/variables';

.currency-item-container{
    position: relative;
    width: 17px;
    font-variation-settings: 'wght' 400;
    font-family: 'Raleway';
    font-size: 22px;
    color: $primary-color;
    user-select: none;
    margin-right: 30px;
    margin-bottom: 4px;
}

.currency-icon-svg-wrapper{
    position: absolute;
    right: -15px;
    top: -3px;
}