$primary-color: #1d1f22;
$secondary-color: #555555;
$primary-btn-color: #5ece7b;
$alt-btn-color: #ffffff;
$highlight-btn-color: #a8f8bd;
$highlight-alt-btn-color: #1d1f22;
$inActive-btn-color: #a0a0a0;
$background-primary-color: #ffffff;

$navbar-height: 90px;

$monitor2560: 400px;
$monitor1920: 200px;
$monitor1680: 100px;
$monitor1280: 50px;
$default-margin: 100px;